# dependencies (bun install)
node_modules
.opencode
# output
out
dist
build/*
!build/icons
artifacts
*.tgz
CLAUDE.md
backgrounds/*
config.json
!backgrounds/*.png
!backgrounds/*.jpg
!backgrounds/*.jpeg
!backgrounds/*.webp
!backgrounds/*.svg
# code coverage
coverage
*.lcov
photos
# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo
/vendors

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
